In [6]:

# About Dataset
# ðŸ“¹Project Video available on YouTube - https://youtu.be/gu3Ot78j_Gc
# Airlines Flights Dataset for Different Cities
# The Flights Booking Dataset of various Airlines is a scraped datewise from a famous website in a structured format. The dataset contains the records of flight travel details between the cities in India. Here, multiple features are present like Source & Destination City, Arrival & Departure Time, Duration & Price of the flight etc.

# This data is available as a CSV file. We are going to analyze this data set using the Pandas DataFrame.

# This analyse will be helpful for those working in Airlines, Travel domain.

# Using this dataset, we answered multiple questions with Python in our Project.

# Q.1. What are the airlines in the dataset, accompanied by their frequencies?

# Q.2. Show Bar Graphs representing the Departure Time & Arrival Time.

# Q.3. Show Bar Graphs representing the Source City & Destination City.

# Q.4. Does price varies with airlines ?

# Q.5. Does ticket price change based on the departure time and arrival time?

# Q.6. How the price changes with change in Source and Destination?

# Q.7. How is the price affected when tickets are bought in just 1 or 2 days before departure?

# Q.8. How does the ticket price vary between Economy and Business class?

# Q.9. What will be the Average Price of Vistara airline for a flight from Delhi to Hyderabad in Business Class ?

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
data = pd.read_csv(r"C:\Users\merav\OneDrive\study\DataSets\airlines_flights_data.csv")

In [9]:
data.head()

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955